@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html, body{
    /* height: 100vh; */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
}

/* HEADER */

header{
    background-color: rgb(75, 184, 75);
    box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.8);
}

header .container{
    height: 80px;
    max-width: 980px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

header .container img{
    width: 250px;
}

header nav ul{
    display: flex;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    padding: 24px;
    transition: all 250ms linear 0s;
}

header nav ul li a:hover{
    background: rgba(255,255,255,0.15);
    font-weight: 700;
}


/* MAIN */

main{
    margin-bottom: 60px;
    border-bottom: 1px solid #e2e2e2;
    box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.5);
}

main .container-main{
    max-width: 980px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px auto 0px auto;
    padding: 0px 0px 50px 0px;
    
}

main .container-main .container-image img{
    width: 550px;
    max-width: 550px;
    margin: 0px 0px 0px 50px;
    box-shadow: 5px 5px 7px -4px rgba(0,0,0,0.5);
}

main h2{
    color: black;
    font-size: 40px;
    line-height: 45px;
    font-weight: bold;
}

main h3{
    color: rgb(131,131,131);
    font-size: 20px;
    line-height: 28px;
    margin: 10px 0;
    font-weight: 400;
}

form{
    margin-top: 20px;
}

form input{
    width: 380px;
    padding-left: 15px;
    font-size: 18px;
    height: 45px;
    margin-bottom:13px;
    border-radius: 0;
    border:0;
    border-bottom: 1px solid #e2e2e2;
}

form [type="submit"]{
    background-color: rgb(75, 184, 75);
    color: white;
}

form [type="submit"]:hover{
    cursor: pointer;
}

/* CARDS */

.content-comojogar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-estadios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:50px;
    background-color: #f0f0f0;
    padding-bottom: 70px;
}

.cards{
    width: 90%;
    max-width: 980px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:20px;
    margin: auto;
}

.cards-title{
    max-width: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-title h3{
    margin: 20px 0px 10px 0px;
    text-transform: center;
    background-color: rgb(58, 151, 58);
    color: white;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 25px;
    text-align: center;
}

.cards-comojogar{
    max-width: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.cards-comojogar p{
    padding: 10px 30px;
    font-size: 16px;
    line-height: 22px;
    color: #333;
}

.cards-comojogar p a{
    color:#333;
    text-decoration: none;
    font-weight: 700;
}

.card{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 5px 5px 7px -4px rgba(0,0,0,0.5);
    transition: all 0.3s ease 0s;
    background-color: white;
}

.card:hover{
    transform: translateY(-7px);
}

.card-image{
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
}

.card-image img{
    position: absolute;
    border-radius: 10px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.card-content{
    margin:20px;
}

.card-content .uppercase{
    text-transform: uppercase;
}

.card-info{
    margin:20px;
}

.text--medium{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #333;
}

.title{
    margin-bottom: 0px;
    font-weight: 700;
}



/* DESAFIO */

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto 0px auto;
    background-color: rgb(75, 184, 75);
    padding: 40px 0px 70px 0px;
}

.form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 980px;
}

.form-box h4{
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
    color: white;
    text-align: center;
}

.form-box form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 50px 100px;
    box-shadow: 7px 7px 5px -5px rgba(0,0,0,0.5);
}

.form-box form h4{
    font-size:16px;
    text-transform: none;
    color: #333333;
    line-height: 18px;
    font-weight: 400;
    margin-top:25px;
    border: 1px solid #333;
    padding: 20px 35px;
}

.form-box form h4:hover{
    background-color:#e2e2e2;
    cursor: pointer;
}

.form-box form h4 a{
    color: #333;
    text-decoration: none;
    font-weight: 700;
}

.form-box form input{
    width: 380px;
    padding-left: 15px;
    font-size: 18px;
    height: 45px;
    margin-bottom:13px;
    border-radius: 0;
    border:0;
    border-bottom: 1px solid #e2e2e2;
}

.form-box form [type="submit"]{
    height:auto;
    padding: 18px 0px 15px 0px;
    text-transform: uppercase;
}

.form-box form [type="submit"]:hover{
    cursor: pointer;
    background-color: rgb(58, 151, 58);
}

/* FOOTER */

footer{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0px 35px 0px;
    color: #333;
    box-shadow: 2px 0px 8px rgba(0,0,0,0.3);
}

footer .footer-title{
    font-size:18px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
}

footer .footer-title a{
    text-decoration: none;
    color: #333333;
}

footer .footer-txt{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin: 5px 0px 0px 0px;
    text-align: center;
}
